<!doctype html>
<html lang="en"><head>
	<meta name="google-site-verification" content="w07Yy3MyGcBMbHJy_g-Wzdtq-q0GpBmrvGTKtQIl12g" />
	<meta name="google-site-verification" content="KWiRkXENVVypNuNBrlVVjjYtWzh967pPCCwJTFQ3auE"/>
	<meta name="google-site-verification" content="7SVvxCgA6vDl3wSzow1vHCQcdyTnPH21mbhvx4mrwP0">
	<meta name="google-site-verification" content="KWiRkXENVVypNuNBrlVVjjYtWzh967pPCCwJTFQ3auE" />


  <title>Petrichor CA Portal</title>
  <link rel="icon" sizes="100x150" href="./public/img/logo.ico">

	<!-- Google font -->
	<!--<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />-->
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link href="https://fonts.googleapis.com/css?family=Lobster&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->


  <!-- With bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.min.css">

	<!-- Owl Carousel -->
	<link type="text/css" rel="stylesheet" href="stylesheets/owl.carousel.css">
	<link type="text/css" rel="stylesheet" href="stylesheets/owl.theme.default.css">

	<!-- Magnific Popup -->
	<link type="text/css" rel="stylesheet" href="stylesheets/magnific-popup.css">

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="stylesheets/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="stylesheets/style.css">

</head>


<body style="background-color: #10161A;">
	<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img bg1" style="background-image: url(https://github.com/himanshu2047/FestWeb_CA-Portal/blob/master/home1.0.png?raw=true);">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent fixed-nav">
			<div class="container" style="width: 100vw;">

				<div class="navbar-header" style="float: left;">

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					
					
					<!-- /Collapse nav button -->
				</div>
				
				

				<!--  Main navigation  -->
				<ul style="margin-bottom: -5px; width: 100%;" class="main-nav nav navbar-nav navbar-left fcolor">
					<li><a href="www.petrichor-iitpkd.com">
					<img src="https://raw.githubusercontent.com/RathoreDevansh08/FestWeb_CA-Portal/master/Petrichor-white.png" alt="Petrichor" style="padding-bottom:5px;width:100px;height:29px;border:0;">
						</a></li>
					<li class="line"><a href="#home" class="fcolor">Home</a></li>
					<li class="line"><a href="#about" class="fcolor">About Us</a></li>
					<li class="line"><a href="#whyca" class="fcolor">Why CA</a></li>
					<li class="line"><a href="#incentives" class="fcolor">Incentives</a></li>
					<li class="line"><a href="#responsibilities" class="fcolor">Responsibilities</a></li>
					<li class="active line"><a href="#terms" class="fcolor">Terms</a></li>
					<li class="line"><a href="#faq" class="fcolor">FAQ</a></li>
					<li class="line"><a href="#contact" class="fcolor">Contact Us</a></li>
					<li style="float:right;"><a id="login" href="/login" class="fcolor fa fa-sign-in"> Login</a></li>
	            	<li style="float:right;"><a id="signup" href="/signup" class="fa fa-user-plus fcolor"> SignUp</a></li>
	            	<!--<li style="float:right;"><a id="googlein" href="/auth/google" class="fab fa-google" style="font-size:2vw; color: #8B0000;"></a></li>-->
	            	<li style="float:right;"><a id="googlein" href="/auth/google"><img src="https://github.com/RathoreDevansh08/FestWeb_CA-Portal/blob/master/google.png?raw=true" style="padding-bottom:5px;width:72px;height:37px;border:0;"></a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->
	</header>
	<!-- /Header -->



	<!-- About -->
	<div id="about" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">About Us</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="about-right wow fadeInRight">
						<div class="title-area">
						<span class="tittle-line"></span>
						<p class="" style=" text-align: justify; text-justify: inter-word">Petrichor denotes the pleasant smell that accompanies the first rain after a long spell of warm weather; the novelty and freshness of a new beginning. Petrichor, the annual technocultural fest of IIT Palakkad, is a golden opportunity to bring out the artist or techie in you and to meet exponents from various technical, cultural and social fields .</p>
							<br><p style="">Campus Ambassadors are fundamental for the success of any fest as they serve as spokespersons of the fest to their colleges. It is a golden ticket to improve your management and leadership skills. So take a break from the everyday monotony of life and gear up for two days of showcase and discovery, make new friends for life and be a part of a remarkable journey from its inceptive steps itself!
						</p>
						</div>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->
 
	<!-- Why CA -->
	<div id="whyca" class="section md-padding">

		<!-- Container -->
		<div class="container" style="width:98vw;">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">What will you get</h2>
				</div>
				
				<!--<div class="col-md-12 col-sm-12 col-xs-12">-->
				<!--	<div class="about-right wow ">-->
				<!--		<div class="title-area">-->
				<!--		<span class="tittle-line"></span>-->
				<!--		<p class="" style="text-align: justify;color: rgb(0, 0, 0); text-justify: inter-word">Being the campus ambassador of your institute is an opportunity like no other. From adding new dimensions to your personality to providing an impetus to your resume, there are many things the role of campus ambassador holds in store for you.</p>-->
				<!--		</div>-->
				<!--	</div>-->
				<!--</div>-->
				
				<!-- /Section header -->
				
				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<img src="http://www.myiconfinder.com/uploads/iconsets/256-256-d5ad9a619a4a025b24b4627ab3690e6a-certificate.png">
						<h3>Boost To Resume</h3>
						<p style="color:white;">You will receive a certificate from Petrichor, IIT Palakkad in acknowledgement of your successful tenure as the campus ambassador.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<img src="https://cdn3.iconfinder.com/data/icons/life-skills-5/64/respectful-apology-respect-collaboration-deal-interpersonal-skill-512.png">
						<h3>Interpersonal Skills</h3>
						<p style="color:white;">The role of campus ambassador provides you the opportunity to lead your institute to Petrichor and in the process, enhance your management and communication skills.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGpaM25S2KSyvEJLI1knMZ5wgBLYEgJHqkUAv4_cWjcMayprfThA">
						<h3>Petrichor Brand</h3>
						<p style="color:white;">Be a part in making Petrichor a successful brand through your valued inputs.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQegTXzsRN5PYinSrJIUtCULA4q4Pd8PkxhnGuu9_RcmH7dXrJr">
						<h3>Other Incentives</h3>
						<p style="color:white;">Apart from experience and exposure, there are other incentives (see <a href="#incentives">Incentives</a> section) that await you.</p>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why CA -->

	<!-- Incentives -->
	<div id="incentives" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Incentives content -->
				<div class="col-md-12">
					<div class="section-header text-center">
						<h2 class="title">Incentives</h2>
					</div>
					
					<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="about-right wow ">
						<div class="title-area">
						<span class="tittle-line"></span><h3>
						<p class="" style="text-align: justify;color: #00498D; font-weight: bold; text-justify: inter-word">Becoming a campus ambassador for Petrichor comes with a lot of perks.</p>
						</h3></div>
					</div>
				</div>
				<ul class="bull">
					
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<li><p style="color:white;">Cash prizes await the top 5 CAs</p></li>
					</div>
					
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<li><p style="color:white;">Pro Show and workshop entry passes to the top CAs</p></li>
					</div>
				
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<li><p style="color:white">An opportunity to meet and interact with eminent personalities visiting Petrichor to the top CAs</p></li>
					</div>
					
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<li><p style="color:white;" >Avail special discount on Petrichor goodies and merch</p></li>
					</div>
					
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<li><p style="color:white;" >Certificate of recognition from Petrichor to top 75 CAs for their active work in building
relations with us</p></li>
					</div>
					
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<li><p style="color:white;" >Top CAs get featured on our website !!!</p></li>
					</div>
				</ul>
				</div>
				<!-- Incentives content -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Incentives -->

	<!-- Responsibilities -->
	<div id="responsibilities" class="section md-padding">

		<!-- Container -->
		<div class="container" style="width:98vw;">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Responsibilities</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<img src="https://cdn4.iconfinder.com/data/icons/two-colored-flat-set/100/megaphone-512.png">
						<h3>Face of Petrichor</h3>
						<p style="color:white;">Promote and publicise our events in your institute on both online and offline platforms.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-3 col-sm-6">
					<div class="service">
						<img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/coordinate-3-917921.png">
						<h3>Coordinate with us</h3>
						<p style="color:white;">Coordinate with team Petrichor in conducting promotional event in your institute or city whenever we plan to organise one.</p>
					</div>
				</div>
				<!-- /service -->
				
								<!-- service -->
				<div class="col-md-3 col-sm-6">
				<div class="service">
				<img src="https://raw.githubusercontent.com/RathoreDevansh08/FestWeb_CA-Portal/master/kisspng-ideas-color-cartagena-advertising-communication-gr-advertising-design-templates-5b0dd3b900ea16.1848268815276328250038.png">
				<h3>Pitch in your ideas</h3>
				<p style="color:white;">Be an active part of Petrichor by throwing in your suggestions for different events, speakers and artists.</p>
				</div>
				</div>
				<!-- /service -->
				
				<!-- service -->
				<div class="col-md-3 col-sm-6">
				<div class="service">
				<img src="https://raw.githubusercontent.com/RathoreDevansh08/FestWeb_CA-Portal/master/talkballoon.png">
				<h3>Be the messenger</h3>
				<p style="color:white;">Provide feedback and share new ideas from the students of your institute with the Petrichor team.</p>
				</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Responsibilities -->
	
	
	<!-- terms and conditions -->
	<div id="terms" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- terms and conditions content -->
				<div class="col-md-12">
					<div class="section-header text-center">
						<h2 class="title">Terms &amp; Conditions</h2>
					</div>
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<p style="color:white;">Only students enrolled with an institute are allowed to be campus ambassadors.</p>
					</div>
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<p style="color:white;">The number of referrals traced back to you represents your influence, and will be the major determinant in adjudging your candidature for rewards.</p>
					</div>
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<p style="color:white;">Referrals need not be limited to your institute only.</p>
					</div>
					<div class="feature">
						<i class="fa fa-chevron-right"></i>
						<p style="color:white;">Any unscripted change in reward schemes before or after the selection of campus ambassadors are subject solely to the discretion of team Petrichor. However, ambassadors will be briefed about the changes, if any, at the earliest for their convenience.</p>
					</div>
				</div>
				<!-- /terms and conditions content -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /terms and conditions -->

	<!-- FAQ -->
	<div id="faq" class="section md-padding">

		<!-- Container -->
		<div class="container" style="width:100vw; margin:auto">

			<!-- Heading -->
			<div class="section-header text-center">
				<h2 class="title" style="padding-right:10px; padding-left:10px ">FAQ</h2>
			</div>
			<!-- /Heading -->

			<!-- Content -->
			
			
			
				<div class="fq1">
				
				<h4>What qualities do you seek in a CA?</h4>
				<p>A Campus Ambassador should be an enthusiastic and confident individual with a pleasing personality and the ability to reach out to people. She/he should be willing to join hands with our team to boost promotional events and set the right mood for Petrichor.</p>
				</div>
				<br>
				
				<div class="fq2">
				<h4>How will I benefit from being a CA?</h4>
				<p>Apart from attractive incentives like free pro-show passes and discounts on Petrichor merchandise (<a href="#incentives" class="fcolor">check out the Incentives section for more details</a>), being a CA gives you more. It’s an exciting journey that gives you a plethora of areas like event management, leadership, volunteering, public relations to work upon and improve. You can also flaunt about these skills in your resume as we provide certificates to CAs who successfully complete their term. Have a look at <a href="#whyca" class="fcolor">Why CA</a> for more details.</p>
				</div>
				<br>
			
				<div class="fq3">
					<h4>What will my roles and responsibilities be as a CA?</h4>
				<p>As a CA, you’re expected to promote Petrichor at your campus. Help us create the hype about Petrichor by connecting with students and being actively involved by putting new ideas at the table. Find out more about the responsibilities of a CA <a href="#responsibilities">here</a>.</p>
				</div>
				<br>
			
				<div class="fq4">
					<h4>Can there be more than one CA for an institute?</h4>
				<p>There is no restriction on the number of CAs from an institute.</p>
				</div>
				<br>
			
			
			
			
			
			
			
			
			
			
			
			
			<!--
			<div class="accordion accordion--faq">
				<section class="accordion__question">
					<header class="accordion__header">
						<h5 class="accordion__heading white-text">What qualities do you seek in a CA?</h5>
						<i class="fa fa-chevron-down"></i>
					</header>
					<div class="accordion__content">
						<p class="">A Campus Ambassador should be an enthusiastic and confident individual with a pleasing personality and the ability to reach out to people. She/he should be willing to join hands with our team to boost promotional events and set the right mood for Petrichor.</p>
					</div>
				</section>
				<section class="accordion__question">
					<header class="accordion__header">
						<h5 class="accordion__heading white-text">What will my roles and responsibilities be as a CA?</h5>
						<i class="fa fa-chevron-down"></i>
					</header>
					<div class="accordion__content">
						<p class="">As a CA, you’re expected to promote Petrichor at your campus. Help us create the hype about Petrichor by connecting with students and being actively involved by putting new ideas at the table.</p><p>Find out more about the responsibilities of a CA <a href="#responsibilities">here</a>.</p>
					</div>
				</section>
				<section class="accordion__question">
					<header class="accordion__header">
						<h5 class="accordion__heading white-text">How will I benefit from being a CA?</h5>
						<i class="fa fa-chevron-down"></i>
					</header>
					<div class="accordion__content">
						<p class="">Apart from attractive incentives like free pro-show passes and discounts on Petrichor merchandise (<a href="#incentives" class="fcolor">check out the Incentives section for more deatails</a>), being a CA gives you more.</p><p> It’s an exciting journey that gives you a plethora of areas like event management, leadership, volunteering, public relations to work upon and improve. You can also flaunt about these skills in your resume as we provide certificates to CAs who successfully complete their term. Have a look at ​ Why CA? ​ for more details.</p>
					</div>
				</section>		
				<section class="accordion__question">
					<header class="accordion__header">
						<h5 class="accordion__heading white-text">Can there be more than one CA for an institute?</h5>
						<i class="fa fa-chevron-down"></i>
					</header>
					<div class="accordion__content">
						<p class="">There is no restriction on the number of CAs from an institute.</p>
					</div>
				</section>
			</div>   -->
			<!-- /Content -->

		</div>
		<!-- /Container -->
		
	</div>
	<!-- /FAQ -->

	 <!--Contact -->
	<div id="contact" class="section md-padding">

		 <!--Container -->
		<div class="container">

			 <!--Row -->
			<div class="row">

				 <!--Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Contact Us</h2>
				</div>
				 <!--/Section-header -->

				 <!--contact form -->
				<!--<div class="col-md-8 col-md-offset-2">-->
				<!--	<form class="contact-form" action="form_cr.php" method="POST">-->
				<!--		<input type="text" class="input" id="name" name="nam" placeholder="Your Name" required data-error="Please enter your name">-->
				<!--		<input type="email" class="input" placeholder="Your Email" id="email"  name="emai" required data-error="Please enter your email">-->
				<!--		<input type="text" class="input" placeholder="Subject" id="msg_subject" name="subject" required data-error="Please enter your subject">-->
				<!--		<textarea class="input" placeholder="Your Message" rows="11" name="msg" data-error="Write your message" required></textarea>-->
				<!--		<button class="main-btn" id="submit" type="submit">Send message</button>-->
				<!--	</form>-->
				<!--</div>-->
				 <!--/contact form -->
				 
				 <div class="fq5">
				<p style="color:white;">Omkar Sanjay Sakre, Fest Coordinator |  
				 <i class="fab fa-whatsapp" style="color:green;"></i> 8692028636</p>
				</div>
				
				<div class="fq5">
				<p style="color:white;">Muhammed Yaseen, Public Relations Head |  
				 <i class="fab fa-whatsapp" style="color:green;"></i> 9497745691</p>
				</div>
				
				<div class="fq5">
				<p style="color:white;">Subhajit Karmakar, Promotion Incharge |  
				 <i class="fab fa-whatsapp" style="color:green;"></i> 9163806500</p>
				</div>

				<div class="fq5">
				<p style="color:white;">For any queries mail us at |  
				 <i class="fas fa-envelope" style="color:white;"></i> relations.petrichor@iitpkd.ac.in</p>
				</div>

			</div>
			 <!--/Row -->

		</div>
		 <!--/Container -->

	</div>
	 <!--/Contact -->


	 <!--Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		 <!--Container -->
		<div class="container">

			 <!--Row -->
			<div class="row">

				<div class="col-md-12">

					 <!--footer follow -->
					<ul class="footer-follow">
						<li class="facebook"><a href="https://www.facebook.com/petrichor.iitpkd/" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li class="mail"><a href="https://youtu.be/qldmRVrPfiA" target="_blank"><i class="fab fa-youtube"></i></a></li>
						<li class="instagram"><a href="https://instagram.com/petrichor.iitpkd?igshid=1060kcixktpb1" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>
					 <!--/footer follow -->

					 <!--footer copyright -->
					<div class="footer-copyright">
						<p style="color:white">Indian Institute of Technology Palakkad</p>
						<p style="color:white">Kerala - 678557</p>
					</div>
					 <!--/footer copyright -->

				</div>

			</div>
			 <!--/Row -->

		</div>
		 <!--/Container -->

	</footer>
	 <!--/Footer -->

	<!-- Back to top -->
	<!--<div id="back-to-top" style="display: block;"></div>-->
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
		</div>
	</div>
	<!-- /Preloader -->

	<!-- jQuery Plugins -->
	<script type="text/javascript" src="scripts/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="scripts/owl.carousel.min.js"></script>
	<script type="text/javascript" src="scripts/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>




</body></html>