<!DOCTYPE html>
<html>
<head>
	<title>
	    Reset Password
	</title>
</head>
<body>
    
    <form action="/reset/<%= token %>" method="POST">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm" placeholder="Re-type Password">
        <button>Submit</button>
    </form>
    
</body>
</html>