<!doctype html>
<html lang="en"><head>
	<meta name="google-site-verification" content="w07Yy3MyGcBMbHJy_g-Wzdtq-q0GpBmrvGTKtQIl12g" />
	<title>Petrichor 2020 - Seize the moment</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="stylesheets/style.css">

</head>

<body style="background-color: black; background-size: cover;" background="../img/home.gif">
	<div style="position: absolute; top: 40%; padding-left: 15%; padding-right: 15%;" class="text-center">
		<h1 style="color: rgb(102,2,2);" class="title">Petrichor Website Coming Soon</h1>
		<button><a type="button" href="/cap" class="btn btn-outline-primary">CA Portal</a></button>
		<button><a type="button" href="/workshops" class="btn btn-outline-primary">Workshops</a></button>
		<br>
		<!-- <img src="https://media2.giphy.com/media/11j5OF7BTglVkc/giphy.gif"> -->

	</div>
	<!-- <button type="button" class="btn btn-outline-primary">CA Portal</button> -->
</body>
</html>